@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  height: 140vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

#cameraContainer {
  margin: 20px auto;
  text-align: center;
  position: relative;
}

#videoFeed {
  border: 2px solid #ccc;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

#currentModel {
  z-index: 1000;
  font-size: 17px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-top: 10px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

select {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

select:focus {
  border-color: #45a049;
}

input[type="file"] {
  display: none;
}

.label-file {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.label-file:hover {
  background-color: #45a049;
}

.button-container .file-button {
  background-color: #f44336;
  color: white;
  border: 2px solid #d32f2f;
}